@import 'tailwindcss';

html,
body {
  height: 100%;
  font-family: var(--font-guton), Arial, Helvetica, system-ui, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  transition: all 0.4s;
}

footer {
  margin-top: auto;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container-mobile {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container-mobile {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 1024px) {
  .container-mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
}
